.item {
    margin: 0.5rem 0;
    padding: 0.5rem 0.8rem;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.item :first-child {
    margin-top: 0;
}

.item :last-child {
    margin-bottom: 0;
}

.item--done {
    text-decoration: line-through;
    color: #666;
}

.item__title {
    font-size: 1em;
    margin-bottom: 0.0em;
}

.item__description {
    font-size: 0.8em;
    color: gray;
    margin-top: 0.3em;
}